<!DOCTYPE html>
<html>
<head>
    <title>邦普仓库物流系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<main class="container p-2">
    <header>
        <div class="input-group">
            <div class="input-group-prepend">
                <a href="{{ url_for('creat') }}">
                    <img src={{ url_for('static', filename='arrow-left-short.svg') }} width="32" height="32">
                </a>
            </div>
            <div class="input-group-prepend px-2">
                <h4 class="text-primary">
                    {{ good.g_name }}
                </h4>
            </div>
            <div class="input-group-prepend">
                <button type="button" class="btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">删除</button>
{#                <form method="post">#}
{##}
{#                    {{ del_form.csrf_token }}#}
{#                    {{ del_form.submit_del(class='btn-sm btn-danger') }}#}
{#                </form>#}
            </div>

        </div>
    </header>


    <form class="px-4" method="post">
        {{ form.csrf_token }}
        <div class="input-group pt-2">
            <div class="input-group-prepend">
                {{ form.base_num.label }} :
                {{ form.base_num(class='form-control',style="width:120px") }}
            </div>
            <div class="input-group-prepend">
                单位 ：{{ form.g_type(class='form-control',style="width:80px") }}
            </div>
        </div>
        <div class="input-group pt-2">
            <div class="input-group-prepend">
                {{ form.base_weight.label }} :
                <div class="input-group">
                    {{ form.base_weight(class='form-control',style="width:120px") }}
                    <div class="input-group-prepend">
                        <span class="input-group-text">吨</span>
                    </div>
                </div>
            </div>
        </div>

        <small class="text-info">注：没有可不填，有数量填单位</small>

        <div class="form-group pt-2">
            {{ form.submit_edit(class='btn btn-primary') }}
        </div>

    </form>

</main>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title text-muted">{{ good.g_name }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
               <h5 class="text-danger">确定删除吗？</h5>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                 <form method="post">
                    {{ del_form.csrf_token }}
                    {{ del_form.submit_del(class='btn btn-primary',value="确定") }}
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>